{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

<!-- Styles -->
<link href="{% static 'chats/styles.css' %}" rel="stylesheet">

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>

<div class="conversations">
  <div class="conversations-heading">
    <div class="conversations-heading-text">Conversations</div>
    <div class="compose-msg-icon"></div>
  </div>

  <div class="conversations-container">
    {% for conversation in conversations %}
    <div id="{{ conversation.conversation_id }}" class="conversation" data-participant="{{ conversation.username }}">
      <div class="avatar"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c29.0.100.100/p100x100/10645251_10150004552801937_4553731092814901385_n.jpg?oh=cd9b25e2191198602b9f2ba1c2949f15&oe=57F05925" width="50" height="50" alt="" class="img"></div>
      <span>{{ conversation.username }}</span>
      <div class="conversation-divider"></div>
    </div>
    {% endfor %}
    <!-- <div id="otheruser" class="conversation">
      <div class="avatar"><img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-1/c29.0.100.100/p100x100/1379841_10150004552801901_469209496895221757_n.jpg?oh=f785ec8ab10b6ffdc50dafdeb2edbda3&amp;oe=582DE024" width="50" height="50" alt="" class="img"></div>
      <span>otheruser</span>
      <div class="conversation-divider"></div>
    </div> -->
  </div>
</div>

<div class="chat-area">
  <div class="chat-area-heading">
    <div class="sending-to">
      <label>To:</label>
      <input id="target-participant" class="target-participant-input-style" type="text" placeholder="Type the username of a person"
        name="target-participant" />
      <span class="selected-participant-background"><span class="selected-participant-text"></span></span>

    </div>
  </div>
  <div class="chats">
    <!-- <div class="chat-container"><div class="chat to-user"><span>Testing</span></div></div>
    <div class="chat from-user"><span>Testing</span></div> -->
  </div>
  <div class="chat-input-area">
    <input id="send-chat" class="chat-content-input" type="text" placeholder="Type a message..." name="chat-content" />
  </div>
</div>

<a href="{% url 'users.views.log_user_out' %}" class="logout">Logout</div>

<script>
$(function(){
  (function handleSelectTargetParticipant(){
    $('.compose-msg-icon').on('click', function(){
      resetChatsArea();
    });
  })();

  (function handleMessageComposing(){
    $('#target-participant').off('keypress').on('keypress', function(e){
      if(e.which == 13 && $(this).val().trim() != '') { // Enter was pressed
        var username = $(this).val();
        $(this)
          .hide()
          .siblings('.selected-participant-background')
            .find('.selected-participant-text')
              .text(username)
              .end()
            .show();

        $('.chat-input-area')
          .find('.chat-content-input')
            .val('')
            .focus()
            .end()
          .show();

        selectConversationWithParticipant(username)
      }
    });
  })();

  (function handleSendChat(){
    $('#send-chat').off('keypress').on('keypress', function(e){
      if(e.which == 13 && $(this).val().trim() != '') {
        var content = $(this).val();
        var chatBubbleHtml = '<div class="chat-container"><div class="chat to-user"><span>' + content +
                             '</span></div></div>';

        var $chats = $('.chats');
        $chats.append(chatBubbleHtml).scrollTop($chats[0].scrollHeight);

        postChat($('.selected').attr('id'), content);

        $(this).val('').focus();
      }
    });
  })();

  handleSelectConversation();

  $('.conversation').first().click();
  $('.conversations-container').height($(window).height());

  (function setupWebSocket(){
    var ws = new WebSocket('ws://52.25.10.120/ws/chat_notification?subscribe-user');
    ws.onopen = function() {
        console.log("websocket connected");
    };
    ws.onmessage = function(e) {
        console.log("Received: " + e.data);
        var receivedData = JSON.parse(e.data);
        handleWebSocketMessage(receivedData.conversation_id, receivedData.chat_content, receivedData.sender);
    };
    ws.onerror = function(e) {
        console.error(e);
    };
    ws.onclose = function(e) {
        console.log("connection closed");
    }
    function send_message(msg) {
        ws.send(msg);
    }
  })();

  adjustDimensionsForElements();
  $(window).on('resize', function(){
    adjustDimensionsForElements();
  });
});

function handleSelectConversation(){
  $('.conversation').off('click').on('click', function(){
    var conversationId = $(this).attr('id');
    $(this)
      .parent()
        .find('.selected')
          .removeClass('selected')
          .find('.conversation-divider')
            .show()
            .end()
          .end()
        .end()
      .addClass('selected')
      .find('.conversation-divider')
        .hide();

    resetChatsArea();
    if (conversationId != undefined) {
      retrieveChatsForConversation(conversationId);
    }

    $('.chat-area .selected-participant-background')
      .find('.selected-participant-text')
        .text($(this).attr('data-participant'))
        .end()
      .siblings('#target-participant')
        .hide()
        .end()
      .show();
    $('#send-chat')
      .val('')
      .parent()
        .show()
        .end()
      .focus();
  });
}

function resetChatsArea(){
  $('.chat-area')
    .find('.selected-participant-background')
      .find('.selected-participant-text')
        .val('')
        .end()
      .hide()
      .end()
    .find('#target-participant')
      .val('')
      .show()
      .focus()
      .end()
    .find('.chats')
      .empty()
      .end()
    .find('.chat-input-area')
      .find('#send-chat')
        .val('')
        .end()
      .hide()
      .end()
    .show();
}

function selectConversationWithParticipant(username){
  var $conversation = $('*[data-participant="' + username +'"]');
  if ($conversation.length == 0) {
    $conversation = addNewConversationWithParticipant(username);
  }
  $conversation.click();
}

function addNewConversationWithParticipant(username) {
  var newConversationHtml = '<div class="conversation" data-participant="' + username + '">\
    <div class="avatar"><img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-1/c29.0.100.100/p100x100/1379841_10150004552801901_469209496895221757_n.jpg?oh=f785ec8ab10b6ffdc50dafdeb2edbda3&amp;oe=582DE024" width="50" height="50" alt="" class="img"></div>\
    <span>' + username + '</span><div class="conversation-divider"></div></div>';
  $('.conversations-container').prepend(newConversationHtml);
  handleSelectConversation();

  return $('*[data-participant="' + username +'"]');
}

function retrieveChatsForConversation(conversationId){
  var url = '{% url "chats.views.get_chats" %}';
  var chatsHtml = '';
  $.get(url, {conversation_id: conversationId}, function(response){
    if (response.status == 'ok') {
      for (chat of response.chats) {
        chatsHtml += '<div class="chat-container">';
        if (chat.sender == '{{current_user}}') {
          chatsHtml += '<div class="chat to-user">';
        }
        else {
          chatsHtml += '<div class="chat from-user">';
        }
        chatsHtml += '<span>' + chat.content + '</span></div></div>';
      }
      if (chatsHtml != '') {
        var $chats = $('.chats');
        $chats.html(chatsHtml).scrollTop($chats[0].scrollHeight);
      }
    }
    else {
      alert('An error has occurred.')
    }
  });
}

function postChat(conversationId, chatContent) {
  var url = '{% url "chats.views.post_chat" %}';
  var data = {
    chat_content: chatContent,
    receiver: $('.selected').attr('data-participant'),
    csrfmiddlewaretoken: '{{ csrf_token }}'
  }

  if (conversationId != undefined) {
    data.conversation_id = conversationId;
  }

  $.post(url, data, function(response){
    if (response.status == 'ok') {
      if (conversationId == undefined) {
        $('.selected').attr('id', response.conversation_id)
      }
    }
    else {
      $('.chat-container').last().remove();
      alert('An error has occurred.');
    }
  });
}

function handleWebSocketMessage(conversation_id, chat_content, sender) {
  $conversation = $('#' + conversation_id);
  if ($conversation.length == 0) {
    $conversation = addNewConversationWithParticipant(sender);
    $conversation.attr('id', conversation_id);
    $conversation.click();
  }
  else if ($conversation.hasClass('selected')) {
    var chatBubbleHtml = '<div class="chat-container"><div class="chat from-user"><span>' + chat_content +
                         '</span></div></div>';
    var $chats = $('.chats');
    $chats.append(chatBubbleHtml).scrollTop($chats[0].scrollHeight);
  }
}

function adjustDimensionsForElements(){
  var $chats = $('.chats');
  var maxHeight = $(window).height() - $('.chat-area-heading').outerHeight(true) - $('.chat-input-area').outerHeight(true) - 50;
  $chats.css('max-height', maxHeight + 'px');
}

</script>

</body>
</html>
