{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

<!-- Styles -->
<link href="{% static 'users/styles.css' %}" rel="stylesheet">

</head>
<body>

<h1 class="login-heading">Chats</h1>
<div>Sign in with your username.</div>
<form action="{% url 'users.views.log_user_in' %}" method="post">
  {% if invalid_login %}
  <div class="error-msg">Invalid username. Please try again.</div>
  {% endif %}
  <input type="text" class="username-field" name="username" placeholder="Username">

  {% csrf_token %}
  <button class="signin-btn" type="submit">Sign in</button>
</form>

</body>
</html>
