html, body {
  height: 100%;
  margin: 0px;
}

body {
  overflow: hidden;
}

h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 300;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 200px auto 20px;
  text-align: center;
}

div  {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 36px;
  text-align: center;
}

.username-field {
  border: 1px solid rgba(0, 0, 0, .20);
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
  display: block;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  height: 42px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: 286px;
  -webkit-font-smoothing: antialiased;
}

.signin-btn {
  background: #fff;
  color: #0084ff;
  font-size: 24px;
  font-weight: normal;
  margin-top: 24px;
  align-items: center;
  border: none;
  box-shadow: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.error-msg {
  margin-bottom: 17px;
  color: #f03d25;
}
